.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #84c225;
    color: #fff;
    height: 80px;
    padding: 0 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li:first-child {
    margin-left: 0;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .nav-links a:hover {
    background-color: #fff;
    color: #89c331;
  }
  

  
