.product-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

.product-list-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.search {
  position: relative;
  margin: 20px 0;
}

.search input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.search input[type="text"]:focus {
  border-color: #84c225;
}

.category-filter {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.category-filter select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease-in-out;
  appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.category-filter select:focus {
  border-color: #84c225;
}

.sort-buttons {
  display: flex;
  justify-content: flex-end;
}

.sort-buttons button {
  background-color: #84c225;
  color: #fff;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.sort-buttons button:hover {
  background-color: #89cf1f;
}

.product-list-table {
  height: auto;
  max-height: 400px;
  width: 100%;
}

.view {
  color: #84c225;
  text-decoration: none;
}

.view:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .product-list-table .MuiDataGrid-columnsContainer {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .product-list {
    padding: 10px;
  }

  .product-list-controls {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .category-filter {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .sort-buttons {
    justify-content: center;
    margin-bottom: 10px;
  }

  .sort-buttons button {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .product-list {
    padding: 5px;
  }

  .product-list-controls {
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-filter {
    margin-bottom: 10px;
  }

  .sort-buttons {
    margin-bottom: 10px;
  }

  .sort-buttons button {
    margin-left: 0;
    margin-right: 5px;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .search:before {
    left: 5px;
  }
}
